{% extends 'base.html' %}

{% block content %}
<h1>Destinations</h1>

<section class="index-destinations">


    <div class="image-grid">
        <img src="{{ url_for('static', filename='imgs/Ecotourism_img7.jpeg') }}" height="200" width="300" alt="rainforest">
        <img src="{{ url_for('static', filename='imgs/Ecotourism_img8.jpeg') }}" height="200" width="300" alt="temple">
        <img src="{{ url_for('static', filename='imgs/Ecotourism_img9.jpeg') }}" height="200" width="300" alt="castle on cliffside">
        <img src="{{ url_for('static', filename='imgs/Ecotourism_img11.jpeg') }}" height="200" width="300" alt="machupichu">
    </div>



    <h2>Destinations Added</h2>
    <nav class="secondary">
        <ul>
            <li><a href="/destinations/new">Add a New Destination</a></li>
        </ul>
    </nav>
        
    {% for destination in destinations %}
    <p>
        <a href="/destinations/{{ destination.id }}">{{ destination.name }}</a>
    </p>
    {% endfor %}


</section>

{% endblock %}