{% extends 'base.html' %}

{% block content %}
<h1>Destinations</h1>

<p>
    <img src="{{ url_for('static', filename='imgs/Ecotourism_img3.jpeg') }}" height="400" width="600" alt="mount kilimanjoro">
</p>

    <h2>Destinations Added</h2>
    <nav class="secondary">
        <ul>
            <li><a href="/destinations/new">Add a New Destination</a></li>
        </ul>
    </nav>
        
    {% for destination in destinations %}
    <p>
        <a href="/destinations/{{ destination.id }}">{{ destination.name }}</a>
    </p>
    {% endfor %}




{% endblock %}