{% extends 'base.html' %}

{% block content %}
    <h2>Add Destination</h2>

        <form action="/destinations" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>

        <div>
            <label for="country">Country</label>
            <select name="country" id="country"> 
             {% for country in countries %} 
            <option value="{{ country.id }}">{{country.name}} </option>
             {% endfor %}
    

            </select>

        </div>
        <input type="submit" value="Add">
    </form>

{% endblock content %}