{% extends 'base.html' %}

{% block content %}
    <h2>Add Destination</h2>
    <form action="/destinations" methos="POST">
        <div>
            <label for="Destination">Destination Name</label>
            <input type="text" name="destination">
        </div>

        <div>
            <label for="country">Country</label>
                <select id="country" name="country" class="form-control">
                
        <div>
            <input type="submit" value="Add Destination">
        </div>
    </form>
{% endblock content %}