{% extends 'base.html' %}

{% block content %}
<h1>Countries</h1>


    <h2>Countries to pick from</h2>
    <nav class="">
        <ul>
            <li><a href="/countries/new">Add a New Country</a></li>
        </ul>
    </nav>

    {% for country in all_countries %}
    
        <p>
            <a href="/countries/{{ country.id }}">{{ country.name }}</a> - {{ country.region }}
        </p>
        
    {% endfor %}

    <p>
        <img src="{{ url_for('static', filename='imgs/Ecotourism_img2.jpeg') }}" height="400" width="850" alt="map of the world">

    </p>

{% endblock content %}

