<!DOCTYPE html>
<html>
<head>
    <title>Ecotourism Travel Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    </head>

<body>
    <main class="webpages">
        <nav>
            <ul>
                <li>
                    <a href="/countries">Countries</a>
                </li>
                <li>
                    <a href="/destinations">Destinations</a>
                </li>
                <li>
                    <a href="/attractions">Attractions</a>
                </li>
                <li>
                    <a href="/">Homepage</a>
                </li>
            </ul>
        </nav>
        
        {% block content %}

        {% endblock%}
        
    </main>
</body>
</html>